.btn-plain,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.btn-plain:hover {
  border: 1px solid #ffcd32;
}
.btn {
  color: #ddd;
  cursor: pointer;
  border: 1px solid #fff;
}
.btn:hover {
  border: 1px solid #ffcd32;
}
.btn:active {
  border: 1px solid #ffcd32;
}
